node_modules
dist
.git
.gitignore
*.md
.env
.env.*
!.env.example
npm-debug.log*
.DS_Store
coverage
.vscode
.idea
storage/uploads/**
storage/processed/**
storage/avatars/**
storage/logs/**
!storage/.gitkeep
!storage/uploads/.gitkeep
!storage/processed/.gitkeep
!storage/avatars/.gitkeep
!storage/logs/.gitkeep
documentations
